x-opam-monorepo-opam-provided: [
  "conf-gsl"
  "conf-pkg-config"
  "conf-sqlite3"
  "conf-zlib"
]
x-opam-monorepo-opam-repositories: [
  "git+https://github.com/dune-universe/opam-overlays.git"
  "https://opam.ocaml.org"
]
